*, *::before, *::after {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 200px 1fr;
}

img, svg {
  display: block;
  max-width: 100%;
  height: 1rem;
  width: auto;
}

input, button {
  font: inherit;
}

p, h1, h2, h3, h4 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

h1 { 
    font-size: 30px; line-height: 36px; 
}

h2 { 
    font-size: 24px; line-height: 32px; 
}

h3 { 
    font-size: 20px; line-height: 28px; 
}

h4 { 
    font-size: 18px; line-height: 28px; 
}

.header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr min(40%, 500px);
    grid-template-rows: 100px 100px;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.main {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 300px;
}

.your-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 40px;
    grid-auto-rows: 300px;
}

.your-projects h3 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.main-right {
    grid-column: 2 / 3;
}

.announcements {
    display: grid;
    grid-template-rows: 40px 400px;
}

.trending {
    display:grid;
    grid-template-rows: 40px 400px;
}